.btn{
  padding: 1.7rem 2.45rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.white__btn{
  color: $black-color;
  background-color: $white-color;
  transition: 0.3s;
}
.white__btn:hover{
   color: $white-color;
   background-color: $light-peach-color;

}
.peach__btn{
  color: $white-color;
  background-color: $peach-color;
  transition: 0.3s;
}
.peach__btn:hover{
  background-color: $light-peach-color;
  transition: 0.4s;
}