$peach-color: #E7816B;
$black-color: #1D1C1E;
$white-color: #FFFFFF;
$white-secondary-color: #DCDCDC;
$light-peach-color: #FFAD9B;
$dark-grey-color: #333136;
$light-grey-color: #F1F3F5;
$light-grey-secondary-color: #DFDFDF;

$main-ff: 'Jost';



